<div class="card-body">
    <div class="header-intervention-list">
        <label class="first-label">intervention informations</label>
        <button type="button" class="btn btn-primary btn-icon button-icon" placement="bottom" (click)="toggle()"
            ngbTooltip="list of interventions" [disabled]="disable_icon">
            <i class="feather icon-list"></i>
        </button>
    </div>
    <form #interventionForm="ngForm" (ngSubmit)="submit(interventionForm)" novalidate>
        <div class="row">
            <div class="col-sm-6">
                <input type="hidden" #_id="ngModel" name="_id" [ngModel]="intervention?._id">
                <input type="hidden" #truck="ngModel" name="truck" [ngModel]="truck_id">
                <label for="exampleInputUsername1" class="form-label">Invoice reference</label><span class="etoile">
                    {{obligatoire}}</span>
                <input class="form-control" type="number" placeholder="intervention reference"
                    [ngModel]="intervention?.invoice_ref" name="invoice_ref" #invoice_ref="ngModel" required />
                <p class="text-danger mt-1" *ngIf="(invoice_ref.invalid && invoice_ref.touched) ">
                    intervention reference is required
                </p>
            </div><!-- Col -->
            <div class="col-sm-6">
                <label for="typeahead-basic" class="form-label">Type</label><span class="etoile">
                    {{obligatoire}}</span>
                <input id="typeahead-basic" name="type" #type="ngModel" type="text" class="form-control"
                    placeholder="intervention reference" [ngModel]="intervention?.type" [ngbTypeahead]="search" />
                <p class="text-danger mt-1" *ngIf="(type.invalid && type.touched) ">
                    Type is required
                </p>
            </div><!-- Col -->
        </div><!-- Row -->
        <div class="row">
            <div class="col-sm-4">
                <div class="mb-3">
                    <label class="form-label">Date</label><span class="etoile">
                        {{obligatoire}}</span>
                    <input type="date" class="form-control" [ngModel]="intervention?.date | slice:0:10" name="date"
                        #date="ngModel" required>
                    <p class="text-danger mt-1" *ngIf="(date.invalid && date.touched) ">
                        Date is required
                    </p>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="mb-3">
                    <label class="form-label">Price</label><span class="etoile">
                        {{obligatoire}}</span>
                    <input type="number" class="form-control" [ngModel]="intervention?.price" name="price"
                        #price="ngModel" placeholder="Price" required>
                    <p class="text-danger mt-1" *ngIf="(price.invalid && price.touched) ">
                        price is required
                    </p>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="fournisseur-div">
                    <label class="form-label">Provider </label>
                    <div>
                        <span class="fournisseur-icon" (click)="openBasicModal(scrollableModal )">+ Add provider</span>
                    </div>
                </div>
                <ng-select [items]="fournisseurs" [multiple]=false bindLabel="name" bindValue="_id"
                    [hideSelected]="true" placeholder="Select a Provider" name="fournisseur"
                    [ngModel]="intervention?.fournisseur" #fournisseur="ngModel">

                    <ng-template ng-label-tmp let-item="item" let-clear="clear">
                        <span class="ng-value-label">
                            {{item?.name}}</span>
                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                    </ng-template>

                    <ng-template ng-option-tmp let-item="item">
                        {{item?.name}}
                    </ng-template>
                </ng-select>
                <p class="text-danger mt-1" *ngIf="(fournisseur.invalid && fournisseur.touched) ">Select a provider
                </p>
            </div><!-- Col -->
        </div><!-- Row -->
        <div class="row">

            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="description"
                    [ngModel]="intervention?.description" #description="ngModel"></textarea>
            </div>
        </div><!-- Row -->

        <button type="submit" [disabled]="interventionForm.invalid"
            class="btn btn-primary submit">{{itemActive}}</button>
    </form>
</div>



<!-- Founisseur Modal -->
<ng-template #scrollableModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="font-size: 20px;">Add a provider</h5>
        <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
    </div>
    <form action="" novalidate #founisseurForm="ngForm" (ngSubmit)="onAddFounisseur(founisseurForm)">
        <div class="modal-body">
            <div>
                <label class="form-label">Name:</label>
                <input type="text" class="form-control" placeholder="Enter name model" ngModel name="name"
                    #name="ngModel" required>
                <p class="text-danger mt-1" *ngIf="(name.invalid && name.touched) ">Enter a fournisseur name</p>
            </div>
            <div>
                <label class="form-label">Address:</label>
                <input type="text" class="form-control" placeholder="Enter name model" ngModel name="adresse"
                    #adresse="ngModel" required>
                <p class="text-danger mt-1" *ngIf="(adresse.invalid && adresse.touched) ">Enter adresse</p>
            </div>
            <div>
                <div class="col-md-6">
                    <label class="form-label">Phone number:</label>
                    <input class="form-control mb-4 mb-md-0" prefix="+216 " mask="00 000 000" [showMaskTyped]="true"
                        ngModel name="phone_number" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Close</button>
            <button type="submit" [disabled]="founisseurForm.invalid" class="btn btn-primary"
                (click)="modal.close('by: save button')">Save changes</button>
        </div>
    </form>
</ng-template>