.label, .first-label {
    color: #7987a1;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
  
.etoile{
  color: red;
}

.header-fuel-list{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.button-icon{
   border-radius: 50%;
   margin-right: 15px;
}
.first-label{
   margin-top: 15px;
}