<app-path></app-path>


<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="dataTable-top">
                    <div class="dataTable-dropdown">
                        <label>
                            <select class="dataTable-selector" (change)="selectSize($event)" name="type">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                            </select>

                            entries per page

                        </label>
                    </div>

                    <div class="dataTable-search">
                        <div class="ng-select">
                            <ng-select [items]="searchField" [multiple]=false bindLabel="value" bindValue="key"
                                [hideSelected]="true" placeholder="Search by ..." [(ngModel)]="selectedfield">

                                <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                    <span class="ng-value-label">
                                        {{item?.value}}</span>
                                    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                                </ng-template>

                                <ng-template ng-option-tmp let-item="item">
                                    {{item?.value}}
                                </ng-template>
                            </ng-select>
                        </div>


                        <div>
                            <input type="text" (ngModelChange)="search(key.value)" #key="ngModel" ngModel name="key"
                                class="dataTable-input" placeholder="Search...">
                        </div>
                    </div>

                </div>
                <div class="table-responsive">
                    <table id="dataTableExample" class="table table-hover" *ngIf="drivers | async as driversData">
                        <thead>
                            <tr>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Email</th>
                                <th>Adresse</th>
                                <th>Phone number</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let driver of driversData.data" class="tr-class">
                                <td routerLink="/drivers/driver/{{driver._id}}">{{driver.first_name}}</td>
                                <td routerLink="/drivers/driver/{{driver._id}}">{{driver.last_name}}</td>
                                <td routerLink="/drivers/driver/{{driver._id}}">{{driver.email}}</td>
                                <td routerLink="/drivers/driver/{{driver._id}}">{{driver.driver?.adresse}}</td>
                                <td routerLink="/drivers/driver/{{driver._id}}">{{driver.driver?.phone_number}}</td>
                                <td><a (click)="onDelete(driver._id)"> <i class="trash-icon" data-feather="trash"
                                            appFeatherIcon></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Pagination  -->
                    <div class="dataTable-buttom" *ngIf="drivers | async as driversData" [hidden]="searchPagination">
                        <ng-container [ngSwitch]="true">
                            <div *ngSwitchCase="driversData?.total != 0" class="dataTable-info">
                                Showing {{(currentPage - 1) * size + 1}} to {{driversData.count + ((currentPage - 1) *
                                size)}}
                                of
                                {{driversData.total}}
                                entries
                            </div>
                            <div *ngSwitchCase="driversData?.total == 0" class="no-data-info">
                                <div class="driver-nodata-info bg-soft-danger">
                                    <span>No data available</span>
                                </div>

                            </div>
                            <div *ngSwitchDefault>Third</div>
                        </ng-container>

                        <div *ngIf="driversData?.total != 0">
                            <ngb-pagination [(page)]="currentPage" [pageSize]="size"
                                [collectionSize]="driversData.total" (pageChange)="done()">
                            </ngb-pagination>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>