.dataTable-buttom {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.first-label {
    color: #7987a1;
}
.list-cost-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.dataTable-info{
    font-weight: lighter;
}
.dataTable-info span{
    font-weight: bold;
} 