<div class="card-body">
    <div class="header-fuel-list">
        <label class="first-label">list of fuels</label>
        <button type="button" class="btn btn-primary btn-icon button-icon" placement="bottom" (click)="toggle()"
            ngbTooltip="Add fuel">
            <i class="feather icon-plus"></i>
        </button>
    </div>
    <div class="dataTable-top">
        <div class="dataTable-dropdown">
            <label>
                <select class="dataTable-selector" (change)="selectSize($event)" name="type">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select>

                entries per page

            </label>
        </div>


        <div class="dataTable-search">
            <div class="ng-select">
                <ng-select [items]="searchField" [multiple]=false bindLabel="value" bindValue="key"
                    [hideSelected]="true" placeholder="Search by..." [(ngModel)]="selectedfield">

                    <ng-template ng-label-tmp let-item="item" let-clear="clear">
                        <span class="ng-value-label">
                            {{item?.value}}</span>
                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                    </ng-template>

                    <ng-template ng-option-tmp let-item="item">
                        {{item?.value}}
                    </ng-template>
                </ng-select>
            </div>


            <div>
                <input type="text" (ngModelChange)="search(key.value)" #key="ngModel" ngModel name="key"
                    class="dataTable-input" placeholder="Search...">
            </div>
        </div>

    </div>
    <div class="table-responsive">
        <table id="dataTableExample" class="table table-hover" *ngIf="fuels$ | async as fuelsData">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Number of liters</th>
                    <th>price per liter</th>
                    <th>Price total</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fuel of fuelsData?.data" class="tr-class">
                    <td (click)="toggle(fuel?._id)">{{fuel?.date | slice:0:10}}</td>
                    <td (click)="toggle(fuel?._id)">{{fuel?.number_of_liter}}</td>
                    <td (click)="toggle(fuel?._id)">{{fuel?.price_liter |currency:'TND':'symbol':'2.2-2'}}
                    </td>
                    <td (click)="toggle(fuel?._id)">{{fuel?.price_total |currency:'TND':'symbol':'2.2-2'}}</td>
                    <td><a (click)="onDelete(fuel._id)"> <i class="trash-icon" data-feather="trash"
                                appFeatherIcon></i></a>
                    </td>
                </tr>

            </tbody>
            <tr></tr>
        </table>

        <!-- Pagination  -->
        <div class="dataTable-buttom" *ngIf="fuels$ | async as fuelsData" [hidden]="searchPagination">
            <ng-container [ngSwitch]="true">
                <div *ngSwitchCase="fuelsData?.total != 0" class="dataTable-info">
                    Showing {{(currentPage - 1) * size + 1}} to {{fuelsData.count + ((currentPage - 1) *
                    size)}}
                    of
                    {{fuelsData.total}}
                    entries
                </div>
                <div *ngSwitchCase="fuelsData?.total == 0" class="no-data-info">
                    <div class="fuel-nodata-info bg-soft-danger">
                        <span>No data available</span>
                    </div>

                </div>
                <div *ngSwitchDefault>Third</div>
            </ng-container>
            <div>
                <ngb-pagination [(page)]="currentPage" [pageSize]="size" [collectionSize]="fuelsData.total"
                    (pageChange)="done()">
                </ngb-pagination>
            </div>
        </div>

    </div>
</div>